@import '../../variables.scss';

.pageContent {
  padding: 0 20px;
  h1 {
    text-align: center;
    font-size: 21px;
  }

  .form {
    max-width: 900px;
    margin: 0 auto;
    .row {
      display: flex;
      flex-wrap: wrap;

      > div {
        flex: 1;
        margin: 5px 3px;
      }
    }
  }
  .right-align {
    text-align: right;
  }
  .submit-btn {
    margin-top: 10px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    color: #fff;
    background-color: $button-color;
    border: none;
    border-radius: 2px;
  }
  .submit-btn:active,
  .submit-btn:hover {
    outline: 0;
  }
}