@import '../../variables.scss';


.user-data-input {
  position: relative;
  margin-bottom: 5px;
  min-width: 200px;

  input {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 10px 5px;
    font-size: 14px;
    line-height: 20px;
    color: #666;
    border: none;
    outline: none;
    background-color: $input-bg-color;
    border-bottom: 1px solid $light-text-color;
  }

  label {
    position: absolute;
    top: 0;
    left: 5px;
    height: 100%;
    font-size: 14px;
    cursor: text;
    color: $light-text-color;
    transition: transform .2s ease-out;
    transform-origin: 0% 100%;
    transform: translateY(12px);
    pointer-events: none;
  }

  label.active,
  input:focus ~ label,
  .is-focused ~ label,
  .is-open ~ label,
  .react-date-picker--open ~ label {
    color: $button-color;
    transform: translateY(-10px) scale(0.8);
  }

  label.active {
    color: $light-text-color;
  }

  input:focus {
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: 1px solid $button-color;
    box-shadow: 0 1px 0 0 $button-color;
  }

  .Select {
    &.is-focused:not(.is-open) > .Select-control {
      box-shadow: none;
      border: none;
    }

    &.is-focused,
    &.is-open {
      border: 1px solid #ddd;
      border-bottom: 1px solid $button-color;
      box-shadow: 0 1px 0 0 $button-color;
    }

    .Select-control {
      height: 40px;
      font-size: 14px;
      border: none;
      border-radius: 0;
      background-color: $input-bg-color;
      border-bottom: 1px solid $light-text-color;

      input {
        border: none;
        padding: 0;

        &:focus,
        &:invalid {
          background: transparent;
          border: none;
          box-shadow: none;
        }
      }

      .Select-placeholder,
      .Select-value,
      .Select--single > .Select-control .Select-value {
        line-height: 40px;
        padding-left: 5px;
      }
    }
  }

  &.employer-input {
    .suggestions-suggestion {
      padding: 8px 4px;
      display: flex;
      align-items: flex-end;
      text-transform: uppercase;
    }
    .suggestions-subtext {
      margin-left: 30px;
      text-transform: none;
      font-size: 11px;
    }
  }

  .suggestions-addon[data-addon-type=clear] {
    background: url(../Layout/assets/close.svg) center no-repeat;
    background-size: 25px 25px;
  }

  .suggestions-wrapper {
    top: 100%;
    left: 0;
    position: absolute;
    width: 100%;

    .suggestions-suggestions {
      left: 0 !important;
      top: 5px !important;
      max-width: 100%;
      width: 100% !important;
      border: 1px solid #ddd !important;
      font-size: 14px;
      .suggestions-suggestion {
        padding-left: 10px !important;
      }
      strong {
        color: $button-color;
      }
    }
  }

  .calendar-input {
    height: 40px;
    width: 100%;
    padding-left: 5px;
    background-color: $input-bg-color;
    border-bottom: 1px solid $light-text-color;

    &.react-date-picker--open {
      background: #fff;
      border: 1px solid #ddd;
      border-bottom: 1px solid $button-color;
      box-shadow: 0 1px 0 0 $button-color;
    }

    .react-date-picker {
      &__button {
        border: none;
        width: 100%;

        input {
          border: none;
          padding: 0;
          background: transparent;

          &:focus,
          &:invalid {
            background: transparent;
            border: none;
            box-shadow: none;
          }
        }
        ::-webkit-input-placeholder {
          opacity: 0;
        }
        ::-moz-placeholder {
          opacity: 0;
        }
        :-moz-placeholder {
          opacity: 0;
        }
        :-ms-input-placeholder {
          opacity: 0;
        }
      }

      &__calendar {
        top: 100%;
        width: 260px;
      }

      &__button__icon {
        outline: none;

        svg {
          width: 20px;
          height: 20px;
          fill: $light-text-color;
        }
      }

      &__clear-button {
        svg {
          width: 25px;
          height: 25px;
        }
      }
    }

    .calendar-panel {
      position: relative;
      z-index: 1;

      .react-calendar__month-view__weekdays__weekday {
        font-weight: 600;
        color: $light-text-color;
      }

      .react-calendar__month-view__days__day--weekend {
        color: #000;
      }

      .react-calendar__navigation__label {
        font-size: 16px;
        font-weight: 600;
      }

      .react-calendar__navigation button:not(.react-calendar__navigation__label) {
        min-width: 30px;
        font-size: 28px;
        color: $button-color;
      }
      button.react-calendar__tile:not([disabled]):hover,
      button.react-calendar__tile:not([disabled]):focus {
        border-radius: 50%;
        background: $button-color;
        color: #fff;
      }
    }
  }

  .error-text {
    color: $error-color;
    font-size: 9px;
    letter-spacing: 0.5px;
  }

  .invalid {
    border: 1px solid $error-color;
  }

}